<% columns.each do |column| %>
    <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
<%- end -%>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%%= link_to "Cancel", <%= controller_routing_path %>_path %>
</div>
